---
import Layout from '~/layouts/PageLayout.astro';

// import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: "PyOhio 2023 - Code of Conduct",
};
---
<Layout metadata={metadata}>

    <h2>Code of Conduct</h2>
    <p>Everyone interacting at PyOhio events and online spaces is expected to follow the
    <a href="https://www.python.org/psf/conduct/">PSF Code of Conduct</a>.
    
    <h2>Reporting<h2>
    <p>All incidents should be reported by emailing conduct@pyohio.org. This email is an
    alias with the following responders:

    <ul>
        <li>Dave Forgac</li>
        <li>Mike Pirnat</li>
        <li>Kattni Rembor</li>
    </li>
    For any report that involves the above individuals, email conduct-wg@python.org instead.
    </p>    
    
</Layout>
