---
import Layout from '~/layouts/PageLayout.astro';

// import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: "PyOhio 2023",
};
---
<Layout metadata={metadata}>
  <Fragment slot="header">
    <!-- <Header
      {...headerData}
      showRssFeed
      showToggleTheme
      position="left"
    /> -->
  </Fragment>

  <Hero>
    <Fragment slot="title">
      PyOhio 2023
    </Fragment>
    <Fragment slot="subtitle">
PyOhio is now officially a project of <a href="https://www.python.org/psf-landing/">The Python Software Foundation</a>!
We are now beginning to plan our next event. Dates & location TBD. Check back here and join our mailing lists for updates!
    </Fragment>
  </Hero>
  <CallToAction
  callToAction={{
    text: 'Subscribe for updates',
    href: 'https://subscribe.pyohio.org/2023',
    icon: 'tabler:mail',
  }}
>
  <Fragment slot="title">
Stay up-to-date</Fragment>
  <Fragment slot="subtitle">
Subscribe to our mailing list for updates on upcoming PyOhio events!
  </Fragment>
</CallToAction>
<CallToAction
callToAction={{
  text: 'Subscribe to volunteer list',
  href: 'https://subscribe.pyohio.org/volunteer',
  icon: 'tabler:mail',
}}
>
<Fragment slot="title">
Want to help?</Fragment>
<Fragment slot="subtitle">
Subscribe here to receive email updates about helping organize PyOhio
events and volunteering on-site or online.
</Fragment>
</CallToAction>
</Layout>
