# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.development
.env.production

# Build output
public/
2026/_site/
2026/.rockgarden/
_site/

# Dependencies
node_modules/

# Mac files
.DS_Store

# Local sheet exports / contribution reports
*.xlsx
