---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Icon } from "astro-icon/components"
---

<header>
  <nav>
    <h2>
      <a href="/blog"
        ><img
          height="40"
          width="40"
          src="/blog/pyohio-gray-logo-sq-transparent.png"
          alt="PyOhio logo"
          style={"vertical-align: middle;"}
        />
        {SITE_TITLE}</a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href="/blog/about">About PyOhio</HeaderLink>
      <HeaderLink href="/blog/archive">Archive</HeaderLink>
      <HeaderLink href="/2025">
        2025 Conference
        <Icon height="18" name="mdi:open-in-new" /></HeaderLink
      >
    </div>
    <div class="social-links">
      <a href="https://fosstodon.org/@pyohio" target="_blank">
        <span class="sr-only">Follow PyOhio on Mastodon</span>
        <Icon height="32" width="32" name="mdi:mastodon" />
      </a>
      <a href="https://www.linkedin.com/company/pyohio/" target="_blank">
        <span class="sr-only">Follow PyOhio on LinkedIn</span>
        <Icon height="32" width="32" name="mdi:linkedin" />
      </a>
      <a href="https://www.pyohio.org/" target="_blank">
        <span class="sr-only">Go to PyOhio's conference website</span>
        <Icon height="32" width="32" name="mdi:web" />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
