---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---


<DefaultLayout title="Registration">
  <section class="my-12">
  <div class="container">
   
<h1>Registration</h1>
<!-- <p>Register using the form on this page or via the <a href="https://ti.to/pyohio/2024">PyOhio registration site</a>.</p>
    <script src="https://js.tito.io/v2" async></script>
    <tito-widget
      event="pyohio/2024"
    ></tito-widget> -->

  Check back soon for PyOhio 2025 registration information!
  </div>
  </section>
</DefaultLayout>
