---
import PrintLayout from '../../../layouts/PrintLayout.astro'
import { getCollection } from 'astro:content'
import { DateTime } from 'luxon'

const talks = (await getCollection('talks'))
  .filter((talk) => talk.data.type === '30 Minute Talk')
  .sort((a, b) => DateTime.fromISO(a.data.start_time) - DateTime.fromISO(b.data.start_time))

function formatTime(timeString) {
  const talkTime = DateTime.fromISO(timeString)
  if (isNaN(talkTime)) {
    return 'TBD'
  } else {
    return talkTime.setZone('America/New_York').toFormat("cccc 'at' h:mma")
  }
}
---

<PrintLayout title="Talks">
  <section class="my-12">
    <div class="text-center">
      {
        talks.map((talk) => (
          <div class="pagebreak">
            <p class="mb-12 mt-24 text-6xl">{talk.data.title}</p>
            <p class="mb-4 text-4xl">
              by <span>{talk.data.speakers.map((speaker) => speaker.name).join(', ')}</span>
            </p>
            <p class="mt-24 text-4xl">{talk.data.room}</p>
            <p class="mb-24 text-4xl">{formatTime(talk.data.start_time)}</p>
          </div>
        ))
      }
    </div>
  </section>
</PrintLayout>
