---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const talks = await getCollection('talks', ({ data }) => {
  return data
})
---

<DefaultLayout title="Talks">
  <section class="my-12">
    <div class="container">
      <h1>Talks</h1>
      <p class="italic">Talks will stream Saturday, December 16 starting at 10am EST. Full schedule TBD.</p>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container">
      <ul>
        {
          talks.map((talk) => (
            <li>
              <h3>
                <a href={talk.data.slug}>{talk.data.title}</a>
              </h3>
              <p>
                by{' '}
                {talk.data.speakers.map((speaker) => (
                  <span>{speaker.name}</span>
                ))}
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</DefaultLayout>
