---
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About PyOhio"
  description="About Pyohio"
  pubDate={new Date("November 19 2024")}
  showDate={false}
  showHeroImage={false}
>
  <p>
    Founded in 2008, PyOhio is a free annual Python programming language
    community conference based in Ohio. Content ranges from beginner to advanced
    and is intended to be relevant to all types of Python users: students,
    software professionals, scientists, hobbyists, and anyone looking to learn
    more.
  </p>
  <p>
    PyOhio is run by a group of volunteer organizers as a project of the <a
      href="https://www.python.org/psf-landing/">Python Software Foundation</a
    >.
  </p>
  <p>
    For more information about our next event, visit <a
      href="https://www.pyohio.org/">www.pyohio.org</a
    >.
  </p>
</Layout>
