{% if page is defined %}
  {% set _fm = page.frontmatter %}
{% elif folder is defined %}
  {% set _fm = folder.frontmatter %}
{% else %}
  {% set _fm = {} %}
{% endif %}
{% set _types = _fm.get("schema_types") or [] %}
{% set _ctx = "https://schema.org" %}

{% if _types %}
{% set _event_id = site.base_url ~ site.base_path ~ "/#event" %}
{% set _org_id   = site.base_url ~ "/#organization" %}
{% set _place_id = site.base_url ~ site.base_path ~ "/attend/venue/#place" %}

{% set place_data = {
  "@type": "Place",
  "@id": _place_id,
  "name": "Cleveland State University Student Center",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "2121 Euclid Avenue",
    "addressLocality": "Cleveland",
    "addressRegion": "OH",
    "postalCode": "44115",
    "addressCountry": "US"
  }
} %}

{% set org_data = {
  "@context": _ctx,
  "@type": "Organization",
  "@id": _org_id,
  "name": "PyOhio",
  "url": site.base_url ~ "/",
  "logo": site.base_url ~ site.base_path ~ "/img/pyohio-square-primary.png",
  "sameAs": [
    "https://www.linkedin.com/company/pyohio",
    "https://fosstodon.org/@pyohio",
    "https://www.facebook.com/pyohio/"
  ]
} %}

{% set event_data = {
  "@context": _ctx,
  "@type": "Event",
  "@id": _event_id,
  "name": "PyOhio 2026",
  "startDate": "2026-07-25",
  "endDate": "2026-07-26",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "eventStatus": "https://schema.org/EventScheduled",
  "url": site.base_url ~ site.base_path ~ "/",
  "image": site.og_image,
  "description": site.description,
  "isAccessibleForFree": true,
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "https://schema.org/InStock",
    "url": site.base_url ~ site.base_path ~ "/attend/registration/",
    "validFrom": "2026-01-01"
  },
  "location": place_data,
  "organizer": org_data
} %}

{% if "Event" in _types %}
<script type="application/ld+json">
{{ event_data | tojson }}
</script>
{% endif %}
{% if "Organization" in _types %}
<script type="application/ld+json">
{{ org_data | tojson }}
</script>
{% endif %}
{% endif %}

{% if breadcrumbs is defined and breadcrumbs|length > 1 %}
  {% set _crumbs_ns = namespace(items=[]) %}
  {% for crumb in breadcrumbs %}
    {% set _crumbs_ns.items = _crumbs_ns.items + [{
      "@type": "ListItem",
      "position": loop.index,
      "name": crumb.label,
      "item": site.base_url ~ crumb.path
    }] %}
  {% endfor %}
<script type="application/ld+json">
{{ {"@context": _ctx, "@type": "BreadcrumbList", "itemListElement": _crumbs_ns.items} | tojson }}
</script>
{% endif %}
