{# Recursive macro for rendering nav tree nodes #}
{% macro render_node(node, default_state) %}
<li>
  {% if node.is_folder and node.children %}
  <details data-nav-path="{{ node.path }}" {{ 'open' if default_state == 'expanded' else '' }}>
    <summary>
      {%- if node.index_path -%}
      <a href="{{ node.index_path }}" class="nav-folder-link">{{ node.label }}</a>
      {%- else -%}
      {{ node.label }}
      {%- endif -%}
    </summary>
    <ul>
      {% for child in node.children %}
        {{ render_node(child, default_state) }}
      {% endfor %}
    </ul>
  </details>
  {% else %}
  <a href="{{ node.path }}"{% if node.is_external %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ node.label }}{% if node.is_external %} <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-3 h-3 ml-0.5 opacity-60" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5zm7.25-.75a.75.75 0 01.75-.75h3.5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0V6.31l-5.47 5.47a.75.75 0 01-1.06-1.06l5.47-5.47H12.25a.75.75 0 01-.75-.75z" clip-rule="evenodd" /></svg>{% endif %}</a>
  {% endif %}
</li>
{% endmacro %}

<nav class="nav-tree" aria-label="Site navigation">
  <ul class="menu menu-sm bg-base-200 rounded-box w-full">
    {% for node in site.nav.children %}
      {{ render_node(node, site.nav_default_state) }}
    {% endfor %}
  </ul>
</nav>
