<div class="search-container relative">
    <svg class="absolute left-2 top-1/2 -translate-y-1/2 w-4 h-4 text-base-content/40 pointer-events-none z-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M11 19a8 8 0 100-16 8 8 0 000 16z"/>
    </svg>
    <input
        type="search"
        class="search-input input input-sm w-full pl-8"
        placeholder="Search..."
        aria-label="Search"
        autocomplete="off"
    />
</div>
