---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-24">
    <div class="container">
      
      <!-- <h2 class="mb-16 text-6xl">Features</h2> -->
      <!-- <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:ticket" title="Register">
          Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
        </Feature>
        <Feature icon="mdi:information" title="About PyOhio">
          17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
        </Feature>
        <Feature icon="mdi:face-mask" title="Health & Safety Guidelines">
          Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
        </Feature>
        <Feature icon="mdi:hotel" title="Hotels">
          Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
        </Feature>
        <Feature icon="mdi:account-voice" title="Speakers">
          This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
        </Feature>
        <Feature icon="mdi:account-star" title="Keynote Speakers">
          Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
        </Feature>
        <Feature icon="mdi:presentation" title="Talks">
          Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
        </Feature>
        <Feature icon="mdi:car-multiple" title="Travel & Parking">
          The theme offers some very handy utilities to help you build your website faster.
        </Feature>
        <Feature icon="mdi:gift" title="Donate">Buy a shirt</Feature>
        <Feature icon="mdi:file-document-edit" title="CFP">Buy a shirt</Feature>
        <Feature icon="mdi:email-newsletter" title="Newsletter">Buy a shirt</Feature>
        <Feature icon="mdi:tshirt-crew" title="T-Shirts">Buy a shirt</Feature>
        <Feature icon="mdi:hand-heart" title="Volunteer">Buy a shirt</Feature>
        <Feature icon="mdi:handshake" title="Code of Conduct">Buy a shirt</Feature>
        <Feature icon="mdi:food-fork-drink" title="Refreshments & Meals">Buy a shirt</Feature>
        <Feature icon="mdi:forum" title="Discord Chat">Buy a shirt</Feature>
        <Feature icon="mdi:medal" title="Sponsors">Buy a shirt</Feature>
        <Feature icon="mdi:cash-multiple" title="Sponsorship Prospectus">Buy a shirt</Feature>
      </div> -->
    </div>
  </section>
</DefaultLayout>
