---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="flex flex-col items-center">
      <p>2025 Logo Design by <a href="https://www.justinmichaelwill.com/">Justin Michael Will</a></p>
      <p>&copy; {currentYear} PyOhio</p>
      <p class="p-2">
        <a href="https://www.netlify.com"
          ><img
            src="https://www.netlify.com/assets/badges/netlify-badge-color-accent.svg"
            alt="Deploys by Netlify"
          /></a>
      </p>
    </div>
  </section>
</footer>
