---
import { Icon } from 'astro-icon/components'
const baseUrl = import.meta.env.BASE_URL

const { src = `${baseUrl}/pyohio-2025-sticker.png`} = Astro.props
---

<section class="hero my-12">
  <div class="container">
    <div class="items-top grid grid-cols-1 gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-7xl">
          <slot><span class="text-gradientx">PyOhio 2025</span></slot>
        </h1>
        <h2 class="text-center text-3xl md:text-left">The Python Community Conference Based in Ohio</h2>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <!-- <a class="button has-icon" href="https://github.com/incluud/accessible-astro-starter">
            <Icon name="ion:star-outline" />
            Star on GitHub
          </a>
          <a class="button has-icon color-secondary" href="https://accessible-astro.incluud.dev/">
            <Icon name="ion:bookmark-outline" />
            Read the Docs
          </a> -->
                <p class="text-xl mb-2">

        Saturday &amp; Sunday July 26 &amp; 27, 2025<br />at the Cleveland State

        University Student Center<br/> in Cleveland, OH

      </p>
        </div>
      </div>
      <img class="hidden lg:block" width="400" src={src} alt="" decoding="async" />
    </div>
    <div>


      <p class="my-4">Please review our <a href="/2025/about/health-and-safety" class="text-primary-500 hover:underline">Health &amp; Safety Guidelines</a> and <a href="/2025/about/code-of-conduct" class="text-primary-500 hover:underline">Code of Conduct</a>.</p>




      <p>Free registration and t-shirt sales opening soon!</p>

    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
