---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/2024/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">About</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/2024/about/">What is PyOhio?</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/about/code-of-conduct">Code of Conduct</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/about/health-and-safety">Health &amp; Safety</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/about/newsletter">Newsletter</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Attend</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/2024/attend/registration">Registration</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/attend/venue">Venue</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/attend/refreshments-and-meals">Refreshments & Meals</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/attend/travel-and-hotels">Travel &amp; Hotels</a>
        </li>
        <!-- <li class="submenu-item">
          <a href="/2024/attend/visiting-cleveland">Visiting Cleveland</a>
        </li> -->
        <li class="submenu-item">
          <a href="/2024/attend/volunteer">Volunteer</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/attend/discord">Conversation on Discord</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Program</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/2024/program/schedule">Schedule</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/talks">Talks</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/speakers">Speakers</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/speakers/keynote-speakers">Keynote Speakers</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/lightning-talks">Lightning Talks</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/open-spaces">Open Spaces</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/program/friday-tutorial">Friday Tutorial</a>
      </ul>
    </li>
    <!-- <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Speaking</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">CFP is now closed</li>
        <li class="submenu-item">Presentation Guidelines Coming Soon</li>
      </ul>
    </li> -->
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Sponsors</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/2024/sponsors/">Our Sponsors</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/sponsors/prospectus">Prospectus</a>
        </li>
        <li class="submenu-item">
          <a href="/2024/sponsors/individual-sponsors">Individual Sponsors</a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="https://www.customink.com/fundraising/pyohio">Order Shirts!</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
