---
import { Icon } from 'astro-icon'

const { src = '/2023/pyohio-2023-logo.png' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h2 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot>The Free Python Community Conference Based in Ohio</slot>
        </h2>
        <p>
          PyOhio was Saturday, December 16.
          <ul>
            <li><a href="/2023/talks/schedule/">Individual talk videos</a></li>
            <li>Subscribe to the <a href="https://www.youtube.com/pyohio">PyOhio YouTube channel</a></li>
            <li><a href="/2023/discord/">Join PyOhio Discord</a> for conversation</li>
          </ul>
        </p>
      </div>
      <div>
      <iframe class="w-full aspect-video" src="https://www.youtube.com/embed/4kcLgHDQicg?si=OmXs1e1n5NoaWZzI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <img class="hidden rounded-3xl md:block my-6" src={src} alt="PyOhio 2023 Logo" decoding="async" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
