// | -------------------------------------------------------------
// | Space Content
// | -------------------------------------------------------------

@use 'breakpoint' as *;

.space-content {
  > * + *,
  > dl > * + * {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  > h2 {
    margin-top: 2rem;

    @include breakpoint(large) {
      margin-top: 2.5rem;
    }
  }

  > h3 {
    margin-top: 1.5rem;

    @include breakpoint(large) {
      margin-top: 2rem;
    }
  }

  > h4 {
    margin-top: 1rem;

    @include breakpoint(large) {
      margin-top: 1.5rem;
    }
  }

  > h5 {
    margin-top: 1rem;

    @include breakpoint(large) {
      margin-top: 1rem;
    }
  }

  > h6 {
    margin-top: 1rem;

    @include breakpoint(large) {
      margin-top: 1rem;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    font-weight: 700;
    font-size: inherit;
    position: relative;
    width: calc(100% - 0.5rem);
    color: inherit !important;

    > * {
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      z-index: 1;
      inset: 0;
      box-shadow: 0 0 0 6px var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      background-color: var(--neutral-100);
    }

    &::after {
      z-index: 0;
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      background-color: var(--action-color);
    }

    > p {
      margin: 0;
      
      & + p {
        margin-top: 1rem;
      }
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

}

.darkmode .space-content > blockquote::before {
  box-shadow: 0 0 0 6px var(--dark-100) !important;
  background-color: var(--dark-100) !important;
  border: 3px solid var(--neutral-600) !important;
}

.darkmode .space-content > blockquote {
  color: var(--neutral-100) !important;
}

