---
import CallToAction from './CallToAction.astro'
import { Icon } from 'astro-icon'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <p>
      &copy; {currentYear} PyOhio
    </p>
    <p>
      <a href="https://www.netlify.com">
        <img src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg" alt="Deploys by Netlify" />
      </a>
    </p>
  </section>
</footer>
