---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Sponsor">
  <section class="my-12">
    <div class="container">
      <h1>Sponsors</h1>
      <p>Sponsors will be posted soon!</p>
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <h2>Interested in sponsoring?</h2>
      <p>If you'd like to sponsor PyOhio, please see our <a href="https://pyohio.org/prospectus/">Sponsorship Prospectus</a> or email sponsorship@pyohio.org for more information.</p> 
  </section>
</DefaultLayout>
