---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const talks = await getCollection('talks', ({ data }) => {
  return data.type == '30 Minute Talk'
})
---

<DefaultLayout title="Talks">
  <section class="my-12">
    <div class="container">
      <h1>Talks</h1>
      <p class="italic">Additional talks are pending confirmation. Full talk schedule to be announced closer to the event.</p>
    </div>
  </section>
  <section class="my-12">
    <div class=" container">
        {
          talks.map((talk) => (
            <div>
              <h2 class="text-2xl">
                <a href={'/2024/program/talks/' + talk.data.slug}>{talk.data.title}</a>
              </h2>
              <p class="mb-4">
                by <span>{talk.data.speakers.map((speaker) => speaker.name).join(', ')}</span>
              </p>
            </div>
          ))
        }
    </div>
  </section>
</DefaultLayout>
