---
import DefaultLayout from '../../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const talks = (await getCollection('talks')).filter(talk => talk.data.type === '30 Minute Talk').sort(
  (a, b) => Date.parse(a.data.title) - Date.parse(b.data.title)
)
---

<DefaultLayout title="Talks">
  <section class="my-12">
    <div class="container">
      <h1>Talks</h1>
      <p class="italic">See the <a href="/2024/program/schedule">conference schedule</a> for time and room details.</p>
    </div>
  </section>
  <section class="my-12">
    <div class=" container">
        {
          talks.map((talk) => (
            <div>
              <h2 class="text-2xl">
                <a href={'/2024/program/talks/' + talk.data.slug}>{talk.data.title}</a>
              </h2>
              <p class="mb-4">
                by <span>{talk.data.speakers.map((speaker) => speaker.name).join(', ')}</span>
              </p>
            </div>
          ))
        }
    </div>
  </section>
</DefaultLayout>
