---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'
import { DateTime } from 'luxon'

const baseUrl = import.meta.env.BASE_URL

// Get the lightning talks data
const lightningTalks = await getCollection('talks', ({ data }) => {
  return data.title === 'Lightning Talks'
})

const lightningTalk = lightningTalks[0]

function formatTime(timeString) {
  const talkTime = DateTime.fromISO(timeString)
  if (isNaN(talkTime)) {
    return 'TBD'
  } else {
    return talkTime.setZone('America/New_York').toFormat('h:mm a').toLowerCase()
  }
}

function formatDay(timeString) {
  const talkTime = DateTime.fromISO(timeString)
  if (isNaN(talkTime)) {
    return 'TBD'
  } else {
    return talkTime.setZone('America/New_York').toFormat('cccc')
  }
}
---

<DefaultLayout title="Lightning Talks">
  <section class="my-12">
    <div class="container">
      <h1>Lightning Talks</h1>
      {
        lightningTalk && (
          <p class="italic">
            {formatDay(lightningTalk.data.start_time)} at {formatTime(lightningTalk.data.start_time)} in{' '}
            {lightningTalk.data.room}
          </p>
        )
      }
    </div>
  </section>

  <section class="my-12">
    <div class="space-content container">
      <p>
        Lightning Talks are quick 5-minute (hard limit!) talks on any topics of interest to the PyOhio community. Anyone
        can present a Lightning Talk. Yes, even you! Slides are encouraged but not required!
      </p>

      <h2>Sign-up Process</h2>
      <ul>
        <li>A sign-up board will be posted near registration</li>
        <li>Sign-ups will be open until 3:15pm on Saturday</li>
        <li>Talk order will be randomized</li>
        <li>Not all talks may be accepted if we receive too many submissions</li>
        <li>The final talk list and order will be published on this page by 3:45pm on Saturday</li>
      </ul>
    </div>
  </section>

  <section class="container">
    <iframe
      class="aspect-video w-full"
      src="https://www.youtube.com/embed/Fm7BtPmZbOY"
      title="Lightning Talks Recording"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    />
  </section>

  <section>
    <div class="space-content container">
      <h2>Talks</h2>
      <ol class="list-decimal ml-6">
        <li class="mb-4">
          <strong class="text-lg">Making Music with Code</strong><br />
          <span class="text-sm">by Jessica Garson</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Porting CPython to CircuitPython</strong><br />
          <span class="text-sm">by Alec Delaney</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">The Beauty of Zipapps</strong><br />
          <span class="text-sm">by Joe Kaufeld</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Goodbye to From</strong><br />
          <span class="text-sm">by Christopher Neugebauer</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">I AM NOT A PYTHON DEVELOPER</strong><br />
          <span class="text-sm">by JR Rickerson</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">My Agentic Coding UI</strong><br />
          <span class="text-sm">by Ben Patch</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Hydroponics: Laziness, Hubris, Impatience</strong><br />
          <span class="text-sm">by Elizabeth</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Import Accessibility as Default</strong><br />
          <span class="text-sm">by Destiny O'Connor</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">"Micro Python" - New Python for Vintage m68k Macs</strong><br />
          <span class="text-sm">by Jeff Epler</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Wagtail - The #1 Python CMS</strong><br />
          <span class="text-sm">by Vince Salvio</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Prompting without Prompting</strong><br />
          <span class="text-sm">by Jayanaka Dantanarayana</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">The BERT Advantage: Modern Topic Modeling</strong><br />
          <span class="text-sm">by Mehul</span>
        </li>
        <li class="mb-4">
          <strong class="text-lg">Super-setting Python for AI</strong><br />
          <span class="text-sm">by Jason Mars</span>
        </li>
      </ol>
    </div>
  </section>
</DefaultLayout>
