---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Open Spaces">
  <section class="my-6">
    <div class="container">
      <h1>Open Spaces</h1>
    </div>
  </section>

  <section class="container">
    <p>
      Open Spaces are self-organized meetups that take place in dedicated rooms during the conference. Topics are
      defined and discussion is facilitated by attendees rather than conference organizers.
    </p>
    <br />
    <p>
      Anyone can participate in an Open Space and anyone can host one! A sign-up board will be posted near registration.
      Be sure to take a look at the topics posted or post your own!
    </p>
    <br />
    <p>Rooms and Schedule TBD</p>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  @use '../../assets/scss/base/color' as *;
  .sticky-heading {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--table-heading);
  }
  .heading {
    border: 1px solid var(--table-border);
    background-color: var(--table-heading);
  }
  .time {
    position: sticky;
    left: 0;
    z-index: 2;
    border-top: 1px solid var(--table-border);
    background-color: var(--table-heading);
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  .talk {
    border: 1px solid var(--table-border);
    background-color: var(--table-background);
    padding: 0.5rem;
    min-width: 14em;
    font-weight: bold;
  }
  .plenary {
    border: 1px solid var(--table-border);
    background-color: var(--table-background);
    min-width: 14em;
  }
  .break {
    background-color: var(--table-muted);
    padding: 0.5rem;
    font-weight: bold;
  }
  table {
    border: 1px solid var(--table-border);
  }
</style>
