---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Opening Reception">
  <section class="my-12">
    <div class="container">
      <h1>Opening Reception</h1>
      <p class="italic">Friday at 6:00 pm in Ballroom D</p>
    </div>
  </section>

  <section class="my-12">
    <div class="space-content container">
      <p>
        Join us for an informal reception at the conference venue on Friday evening. It will start with a welcome and
        introduction to PyOhio meant to give first-time attendees an overview of what to expect at the event. All
        registered attendees are welcome.
      </p>

      <p>
        It also gives you an opportunity to pick up your badge early and avoid the registration desk line Saturday
        morning.
      </p>

      <p>There will be a performance by keynote speaker Jessica Garson.</p>

      <p>Then some time for folks to mingle and coordinate offsite dinner plans.</p>

      <p class="italic">Note: No refreshments will be provided.</p>
    </div>
  </section>
</DefaultLayout>
