---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Open Spaces">
  <section class="my-6">
    <div class="container">
      <h1>Open Spaces</h1>
    </div>
  </section>

  <section class="container">
    <p>
      Open Spaces are self-organized meetups that take place in dedicated rooms during the conference. Topics are
      defined and discussion is facilitated by attendees rather than conference organizers.
    </p>
    <br />
    <p>
      Anyone can participate in an Open Space and anyone can host one! A sign-up board will be posted near registration.
      Be sure to take a look at the topics posted or post your own!
    </p>
  </section>

  <section class="container pagebreak">
    <h2 class="my-6">Saturday, July 26</h2>
    <div class="">
      <table class="table-auto text-sm">
        <thead class="text-center">
          <th class="w-32 p-2 heading">Start Time</th>
          <th class="p-x2 heading" colspan="2">Room</th>
        </thead>
        <thead class="text-center">
          <th class="p-2 time-heading">Sat</th>
          <th class="p-2 sticky-heading">313 L</th>
          <th class="p-2 sticky-heading">313 R</th>
        </thead>
        
        <tr>
          <td class="text-center font-bold time"><p>10:15 am</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>11:00 am</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>11:45 am</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>12:30 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
            <p class="text-xs">(during lunch break)</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
            <p class="text-xs">(during lunch break)</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>1:30 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
            <p class="text-xs">(during lunch break)</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
            <p class="text-xs">(during lunch break)</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>2:15 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>3:00 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>3:45 pm</p></td>
          <td class="align-top p-2 break">
            <p class="font-bold">Closed</p>
          </td>
          <td class="align-top p-2 break">
            <p class="font-bold">Closed</p>
          </td>
        </tr>
        
      </table>
    </div>
  </section>

  <section class="container pagebreak">
    <h2 class="my-6">Sunday, July 27</h2>
    <div class="">
      <table class="table-auto text-sm">
        <thead class="text-center">
          <th class="w-32 p-2 heading">Start Time</th>
          <th class="p-x2 heading" colspan="2">Room</th>
        </thead>
        <thead class="text-center">
          <th class="p-2 time-heading">Sun</th>
          <th class="p-2 sticky-heading">313 L</th>
          <th class="p-2 sticky-heading">313 R</th>
        </thead>
        
        <tr>
          <td class="text-center font-bold time"><p>12:30 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>1:15 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>2:00 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>2:45 pm</p></td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
          <td class="align-top p-2 talk">
            <p class="font-bold">Open Space</p>
          </td>
        </tr>
        
        <tr>
          <td class="text-center font-bold time"><p>3:30 pm</p></td>
          <td class="align-top p-2 break">
            <p class="font-bold">Closed</p>
          </td>
          <td class="align-top p-2 break">
            <p class="font-bold">Closed</p>
          </td>
        </tr>
      </table>
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  @use '../../assets/scss/base/color' as *;

  :root {
    --table-border: var(--neutral-400);
    --table-heading: var(--neutral-300);
    --table-background: var(--neutral-100);
    --table-muted: var(--neutral-200);
  }

  .darkmode {
    --table-border: var(--neutral-600);
    --table-heading: var(--neutral-800);
    --table-background: var(--neutral-900);
    --table-muted: var(--neutral-700);
  }

  table {
    border-top: 1px solid var(--table-border);
    border-left: 1px solid var(--table-border);
    border-collapse: separate;
    border-spacing: 0;
  }
  .sticky-heading {
    position: sticky;
    top: 0;
    background-color:  var(--table-heading);
    z-index: 3;
    border-right: 1px solid var(--table-border);
    border-top: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
   }
   .time-heading {
    position: sticky;
    top: 0;
    left: 0;
    background-color:  var(--table-heading);
    z-index: 4;
    border-right: 1px solid var(--table-border);
    border-top: 1px solid var(--table-border);
    border-bottom: 1px solid var(--table-border);
   }
  .heading {
    background-color: var(--table-heading);
    border-right: 1px solid var(--table-border);
  }
  .time {
    background-color: var(--table-heading);
    position: sticky;
    border-right: 1px solid var(--table-border);
    left: 0;
    z-index: 2;
    &:not(:last-child) {
      border-bottom: 1px solid var(--table-border);
    }
  }
  .talk {
    min-width: 12em;
    height: 9em;
    background-color: var(--table-background);
    border-bottom: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    text-align: left;
  }
  .plenary {
    min-width: 12em;
    background-color: var(--table-background) ;
    border-bottom: 1px solid var(--table-border);
    border-right: 1px solid var(--table-border);
    text-align: left;
  }
  .break {
    background-color: var(--table-muted);
    text-align: left;
  }
</style>
