// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

// Colors lists generated via https://www.tailwindshades.com/

$colors: (
  primary: (
    DEFAULT: '#292A64',
    50: '#B5B6E1',
    100: '#A7A8DB',
    200: '#8A8BCF',
    300: '#6D6FC3',
    400: '#5052B7',
    500: '#41429E',
    600: '#353681',
    700: '#292A64',
    800: '#19193C',
    900: '#080914',
    950: '#000001',
  ),
  secondary: (
    DEFAULT: '#12A6AD',
    50: '#A9F3F6',
    100: '#97F0F4',
    200: '#72EBF0',
    300: '#4DE5EC',
    400: '#28E0E9',
    500: '#16C9D2',
    600: '#12A6AD',
    700: '#0D757A',
    800: '#074447',
    900: '#021415',
    950: '#000000',
  ),
  tertiary: (
    DEFAULT: '#9E5FF9',
    50: '#DAC1FD',
    100: '#CEAEFC',
    200: '#B686FA',
    300: '#9E5FF9',
    400: '#7D29F7',
    500: '#6008DF',
    600: '#4906A9',
    700: '#320473',
    800: '#1A023D',
    900: '#030007',
    950: '#000000',
  ),

  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: '#080914',
  ),
);
