// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    DEFAULT: '#DC582A',
    50: '#E99679',
    100: '#E88F70',
    200: '#DC582A',
    300: '#DC582A',
    400: '#DC582A',
    500: '#DC582A',
    600: '#B1431D',
    700: '#813115',
    800: '#501F0D',
    900: '#200C05',
    950: '#080301',
  ),
  secondary: (
    DEFAULT: '#DC582A',
    50: '#E99679',
    100: '#E88F70',
    200: '#DC582A',
    300: '#DC582A',
    400: '#DC582A',
    500: '#DC582A',
    600: '#B1431D',
    700: '#813115',
    800: '#501F0D',
    900: '#200C05',
    950: '#080301',
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: '#200C05',
  ),
);
