---
import DefaultLayout from '../../layouts/DefaultLayout.astro'

---

<DefaultLayout title="Sponsor">
  <section class="my-12">
    <div class="container">
      <h1>Sponsors</h1>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Gold Sponsor</h2>
      <div class="!bg-white sticker"><p>Auth0 by Okta</p></div>
      <h2>Python Software Foundation Grant</h2>
      <div class="!bg-white sticker"><p>The Python Software Foundation</p></div>
      <h2>Community Sponsors</h2>
      <div class="!bg-white sticker"><p>Black Python Devs</p></div>
      <div class="!bg-white sticker"><p>PyTexas</p></div>
    </div>
  </section>

  <section class="my-12">
    <div class="container">    


    </div>
  </section>
</DefaultLayout>
